/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  font-family: 'Roboto', sans-serif;
}

/* Navigation styles */
nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

nav img {
  width: 70px;
}

nav span {
  font-size: 1.4em;
  font-weight: 600;
  color: #333333;
}

/* Import section styles */
.import {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 120px auto;
}

.import span {
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: 700;
}

.import input {
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #131313;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}


.import input:hover {
  border: 1px solid #ccc;
  background-color: #2e2d2d;
  color: #fff;
 
}


/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Form input styles */
input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.newStudent {
  display: flex;
  flex-direction: column;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 15px;
  margin-left: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
}

button:hover {
  background-color: #0563c7;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px);
}

/* Loader styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 60vh;
}

.loader-image {
  width: 100px; /* Adjust the size of the loader image */
}


/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  nav {
    padding: 10px;
  }

  nav img {
    width: 70px;
  }

  nav span {
    font-size: 1.2em;
  }

  .import {
    gap: 20px;
  }

  .import input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #131313;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
  }

  button {
    margin-top: 5px;
  }
}
